desktop-base-width     = 1260px
rupture.desktop-cutoff = $tablet = 1300px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$marrom = #855A3A
$texto  = #373435

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500|Lato:400,400i,700,700i')

exo($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == medium
        font-weight 500

lato($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
