.cliente
    p
        lato 14
        margin 2em 0
        &:first-child
            margin-top 0
    .login
        margin 45px 0 55px
        form
            width 100%
            max-width 450px
            p
                margin 2em 0 .5em
                &:first-child
                    margin-top 0
            input
                display block
                width 100%
                lato 14
                color $texto
                border 1px solid rgba($marrom, .3)
                background #F2EFEE
                resize none
                margin-bottom 3px
                padding 6px
                outline 0
            input[type='submit']
                display inline-block
                width auto
                padding 6px 20px
                background $marrom
                border 1px solid $marrom
                color #fff
                transition color .3s, background .3s
                &:hover
                    color $marrom
                    background #fff
    .login + p
        margin-bottom .5em
    .error
        width 100%
        max-width 450px
        border 1px solid rgba(#A9524E, .5)
        margin 0 0 14px
        exo 13
        padding 6px
        text-transform uppercase
        color #A9524E
    .solicitacao
        max-width 750px
        .ola
        .cartao
            border 1px solid #ccc
            padding 8px
            line-height 1
            clearfix()
        .ola
            lato 14 bold
            span
                display inline-block
                float left
                padding 5px 0 0
            a
                float right
                display inline-block
                background $marrom
                color #fff
                padding 3px 12px
                lato 14
                border 1px solid $marrom
                transition color .3s, background .3s
                &:hover
                    background #fff
                    color $marrom
                +mobile()
                    clear left
                    float left
                    margin-top 10px
        .cartao
            margin-top -1px
            lato 12
            span
                lato 12 bold
        .explicacao
            margin-bottom 10px
        .error
            max-width 100%
        .sucesso
            border 1px solid #ccc
            text-align center
            padding 30px
            a
                display inline-block
                width auto
                padding 6px 20px
                background $marrom
                border 1px solid $marrom
                color #fff
                lato 14
                transition color .3s, background .3s
                outline 0
                &:hover
                    color $marrom
                    background #fff
        form
            border 1px solid #ccc
            padding 8px
            clearfix()
            p
                exo 14
                margin-bottom 10px
            input[type='text']
            textarea
                width 100%
                lato 14
                color $texto
                border 1px solid rgba($marrom, .3)
                background #F2EFEE
                resize none
                margin-bottom 5px
                padding 6px
                outline 0
            .caixas
                width 250px
                float left
                label
                    clearfix()
                    lato 14
                    input
                        width 40px
                        text-align center
                        margin-right 5px
            textarea
                width calc('100% - 250px')
                float right
                height 120px
                display block
                +mobile()
                    width 100%
                    float left
            input[type='submit']
                display inline-block
                width auto
                padding 6px 20px
                background $marrom
                border 1px solid $marrom
                color #fff
                lato 14
                transition color .3s, background .3s
                clear both
                float right
                outline 0
                &:hover
                    color $marrom
                    background #fff
