.contato
    clearfix()
    form
        width 46%
        float left
        +mobile()
            width 100%
        p
            exo 14
            color $texto
            margin-top 0
        input
        textarea
            display block
            width 100%
            lato 14
            color $texto
            border 1px solid rgba($marrom, .3)
            background #F2EFEE
            resize none
            margin-bottom 3px
            padding 6px
            outline 0
        textarea
            height 270px
        input[type='submit']
            display inline-block
            width auto
            padding 6px 20px
            background $marrom
            border 1px solid $marrom
            color #fff
            transition color .3s, background .3s
            &:hover
                color $marrom
                background #fff
        #form-contato-response
            display none
            width 100%
            border 1px solid rgba($marrom, .3)
            padding 6px
            text-align center
            exo 13
            text-transform uppercase
            color $marrom
        .diretoria
            margin 2em 0 .2em
        a
            exo 14
            color $marrom
            &:hover
                color #000
    .info
        width 43%
        float left
        margin-left 4%
        +tablet()
            width 50%
        +mobile()
            width 100%
            margin 7% 0 0
        p
            lato 14
            margin 1.3em 0 1.5em
            &.telefone
                lato 18
                margin 0
        .mapa
            width 100%
            height 299px
            iframe
                display block
                width 100%
                height 100%
