.empresa
    img
        max-width 100%
        display block
    .texto
        color $texto
        p
            lato 14
            margin 1.8em 0
            +mobile()
                margin 1.4em 0
        h2
            lato 22
            margin 1em 0
            +mobile()
                margin .6em 0

