.site-wrapper.home
    +above($tablet)
        padding 20px 0
        header
            padding-top 30px

.main.home
    min-height 590px
    +tablet()
        min-height auto
    +mobile()
        min-height auto

.banners
    +below($tablet)
        position relative

.slide
    clearfix()
    .foto
        display block
        width calc('33.333% - 4px')
        margin-right 4px
        margin-bottom 4px
        float left
        border 1px solid rgba(#000, .2)
        padding 1px
        position relative
        +mobile()
            width calc('50% - 4px')
        img
            display block
            width 100%
