.informacoes
    .video-wrapper
        width 100%
        max-width 601px
        margin-bottom 10px
        .video
            width 100%
            height 0
            padding-bottom 56.4%
            position relative
            a
                position absolute
                display block
                z-index 2
                img
                    width 100%
                    display block
            .embed-video
                position relative
                padding-bottom 56.4%
                height 0
                overflow hidden
                max-width 100%
                display none
                z-index 3
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
    .perguntas
        width 100%
        max-width 601px
        .handle
            display block
            border-bottom 2px solid #C0A697
            padding 10px 30px 10px 12px
            lato 14
            color $texto
            background $img('sinal-mais.png') no-repeat 99% center #fff
            transition background .3s, border .3s
            span
                lato 14 bold
                color $marrom
                margin-right 3px
            &:hover
            &.active
                background-color #D1BFB5
            &.active
                font-weight 700
                background-image $img('sinal-menos.png')
                border-color #fff
        .resposta
            display none
            border-bottom 2px solid #C0A697
            p
                lato 14
                padding-left 28px
                margin .5em 0 2em
