.ambientes
    clearfix()
    a
        display block
        float left
        width 32.667%
        margin-right 1%
        margin-bottom 1%
        border 1px solid rgba(#000, .2)
        padding 1px
        position relative
        &:after
            content ''
            width calc('100% - 2px')
            height calc('100% - 2px')
            background $img('lupa.png') no-repeat center rgba($marrom, .7)
            position absolute
            top 1px
            left 1px
            opacity 0
            transition opacity .3s
        img
            width 100%
            display block
        &:nth-child(3n)
            margin-right 0
        &:hover:after
            opacity 1
        +mobile()
            width 49.5%
            &:nth-child(3n)
                margin-right 1%
            &:nth-child(2n)
                margin-right 0

.parceiros
    clearfix()
    .parceiro
        display block
        float left
        width 24.25%
        margin-right 1%
        margin-bottom 1%
        border 1px solid rgba(#000, .2)
        padding 10px
        &:nth-child(4n)
            margin-right 0
        img
            width 100%
            display block
        +mobile()
            width 49%
            margin-bottom 2%
            margin-right 2%
            &:nth-child(3n)
                margin-right 2%
            &:nth-child(2n)
                margin-right 0

.clipping
    .masonry
        clearfix()
    a
        display block
        float left
        margin-right 1%
        margin-bottom 1%
        border 1px solid rgba(#000, .2)
        padding 1px
        position relative
        img
            width 100%
            display block
        &:hover .overlay
            opacity 1
        .overlay
            position absolute
            width calc('100% - 2px')
            height calc('100% - 2px')
            background rgba($marrom, .7)
            top 1px
            left 1px
            overflow hidden
            opacity 0
            transition opacity .3s
            p
                width 100%
                margin 0
                position absolute
                text-align center
                padding 0 15px
                top 50%
                left 0
                transform translateY(-50%)
                lato 14
                color #fff
                text-transform uppercase
                span
                    display block
                    font-size 10px
    .thumb
    .grid-sizer
        width 15.833%
        +mobile()
            width 32.667%
    .gutter-sizer
        width 1%

.showroom
    .masonry
        clearfix()
    a
        display block
        float left
        margin-right 1%
        margin-bottom 1%
        border 1px solid rgba(#000, .2)
        padding 1px
        position relative
        &:after
            content ''
            width calc('100% - 2px')
            height calc('100% - 2px')
            background $img('lupa.png') no-repeat center rgba($marrom, .7)
            position absolute
            top 1px
            left 1px
            opacity 0
            transition opacity .3s
        img
            width 100%
            display block
        &:hover:after
            opacity 1
    .thumb
    .grid-sizer
        width 32.667%
        +mobile()
            width 49.5%
    .gutter-sizer
        width 1%
