.produtos-thumbs
    clearfix()
    a
        position relative
        display block
        float left
        width 24.25%
        margin-right 1%
        margin-bottom 1%
        border 1px solid rgba(#000, .2)
        padding 10px
        &:nth-child(4n)
            margin-right 0
        img
            width 100%
            display block
        &:hover .overlay
            opacity 1
        .overlay
            position absolute
            width calc('100% - 2px')
            height calc('100% - 2px')
            background rgba($marrom, .7)
            top 1px
            left 1px
            overflow hidden
            opacity 0
            transition opacity .3s
            p
                width 100%
                margin 0
                position absolute
                text-align center
                padding 0 15px
                top 50%
                left 0
                transform translateY(-50%)
                lato 14
                color #fff
                text-transform uppercase
        +mobile()
            width 49%
            margin-bottom 2%
            margin-right 2%
            &:nth-child(3n)
                margin-right 2%
            &:nth-child(2n)
                margin-right 0

.produtos-show
    clearfix()
    .info
        width 48.5%
        float left
        +mobile()
            width 100%
        .imagem
            border 1px solid rgba(#000, .2)
            padding 1px
            img
                width 100%
                display block
        h2
            lato 28
            color $marrom
            margin 1em 0
        .caracteristicas
            margin 0 0 20px
            div
                border-bottom 1px solid rgba(#000, .2)
                padding 5px 0
                padding-left 110px
                position relative
                lato 15
                span
                    &:first-child
                        position absolute
                        top 5px
                        left 0
        .descricao
            lato 14
            margin-bottom 20px
        .voltar
            display inline-block
            margin-top 20px
            border 1px solid $marrom
            padding 8px
            lato 12
            text-transform uppercase
            color $marrom
            transition background .3s, color .3s
            &:hover
                background $marrom
                color #fff
    .imagens
        width 48.5%
        float right
        +mobile()
            width 100%
            margin-top 5%
        a
            display block
            float left
            margin-bottom 1%
            border 1px solid rgba(#000, .2)
            padding 1px
            position relative
            &.destaque
                width 100%
            width 49.5%
            &:after
                content ''
                width calc('100% - 2px')
                height calc('100% - 2px')
                background $img('lupa.png') no-repeat center rgba($marrom, .7)
                position absolute
                top 1px
                left 1px
                opacity 0
                transition opacity .3s
            img
                width 100%
                display block
            &:nth-child(2n+3)
                margin-right 1%
            &:hover:after
                opacity 1
