.profissionais
    .success
        display inline-block
        border 1px solid rgba(#5CA94E, .5)
        margin 0 0 14px
        exo 13
        padding 8px
        text-transform uppercase
        color #5CA94E
    p
        lato 14
        margin 2em 0
        &:first-child
            margin-top 0
    .login
        margin 45px 0 55px
        .success
            display inline-block
            border 1px solid rgba(#5CA94E, .5)
            margin 0 0 14px
            exo 13
            padding 8px
            text-transform uppercase
            color #5CA94E
    form
        width 100%
        max-width 450px
        p
            margin 2em 0 .5em
            &:first-child
                margin-top 0
        input
            display block
            width 100%
            lato 14
            color $texto
            border 1px solid rgba($marrom, .3)
            background #F2EFEE
            resize none
            margin-bottom 3px
            padding 6px
            outline 0
        input[type='submit']
            display inline-block
            width auto
            padding 6px 20px
            background $marrom
            border 1px solid $marrom
            color #fff
            transition color .3s, background .3s
            exo 13
            &:hover
                color $marrom
                background #fff
        .btn-esqueci
            display inline-block
            border 1px solid $marrom
            padding 6px 10px
            transition color .3s, background .3s
            color $marrom
            exo 13
            &:hover
                background $marrom
                color #fff
    .login + p
        margin-bottom .5em
    .btn-cadastro
        display inline-block
        border 1px solid $marrom
        padding 8px
        transition color .3s, background .3s
        color $marrom
        exo 13
        &:hover
            background $marrom
            color #fff
    .cadastro
        .errors
            width 100%
            max-width 450px
            border 1px solid rgba(#A9524E, .5)
            margin 0 0 14px
            exo 13
            padding 8px 12px
            text-transform uppercase
            color #A9524E
            li
                list-style none
                margin 2px 0
                padding-left 8px
                position relative
                &:before
                    content ''
                    width 2px
                    height 2px
                    background #A9524E
                    position absolute
                    top 7px
                    left 0
    .error
        width 100%
        max-width 450px
        border 1px solid rgba(#A9524E, .5)
        margin 0 0 14px
        exo 13
        padding 6px
        text-transform uppercase
        color #A9524E
    .logout
        margin -1em 0
        a
            display inline-block
            border 1px solid $marrom
            padding 8px 14px
            transition color .3s, background .3s
            color $marrom
            exo 13
            margin-left 12px
            &:hover
                background $marrom
                color #fff
    .interna
        width 100%
        max-width 750px
    h3
        border-top 1px solid $marrom
        padding-top 10px
        margin 40px 0 20px
        color $marrom
        exo 14
    .catalogos
        clearfix()
        font-size 0
        vertical-align top
        display flex
        flex-wrap wrap
        a
            display inline-block
            width 23.5%
            float left
            border 1px solid rgba($marrom, .5)
            padding 1px
            margin-right 2%
            margin-bottom 2%
            transition border .3s
            +mobile()
                width 49%
                &:nth-child(4n)
                    margin-right 2%
                &:nth-child(2n)
                    margin-right 0
            &:hover
                border-color $marrom
                span
                    color $texto
            &:nth-child(4n)
                margin-right 0
            img
                width 100%
                display block
            span
                margin 5px 3px
                display block
                background $img('ico-pdf.png') no-repeat left top
                padding-left 26px
                lato 14
                color $marrom
                transition color .3s
    .gabarito-categoria
        background #F2EFEE
        border 1px solid rgba($marrom, .7)
        padding 10px
        margin-bottom 10px
        .handle
            display block
            lato 14
            color $texto
            padding-right 15px
            line-height 1
            background $img('sinal-mais.png') no-repeat center right
            transition background .3s
        &.active .handle
            background-image $img('sinal-menos.png')
        .gabaritos-wrapper
            display none
        .gabaritos
            clearfix()
            font-size 0
            vertical-align top
            display flex
            flex-wrap wrap
            margin-top 10px
            a
                display inline-block
                width 18.4%
                float left
                border 1px solid rgba($marrom, .5)
                padding 1px
                margin-right 2%
                margin-bottom 2%
                transition border .3s
                +mobile()
                    width 49%
                    &:nth-child(5n)
                        margin-right 2%
                    &:nth-child(2n)
                        margin-right 0
                &:hover
                    border-color $marrom
                    span
                        color $texto
                &:nth-child(5n)
                    margin-right 0
                img
                    width 100%
                    display block
                span
                    margin 5px 3px
                    display block
                    background $img('ico-pdf.png') no-repeat left top
                    padding-left 26px
                    lato 14
                    color $marrom
                    transition color .3s
