.fancybox-skin
    box-shadow none !important
    border-radius 0 !important
.fancybox-title
    lato 12
    color $texto
.fancybox-close
    background $img('lightbox-fechar.png') no-repeat center
    width 20px
    height 20px
    top -24px
    right -4px
.fancybox-next span
    background $img('lightbox-avancar.png') no-repeat center
    right -50px
    visibility visible
.fancybox-prev span
    background $img('lightbox-retroceder.png') no-repeat center
    left -50px
    visibility visible
