footer
    background #F0F0F0
    border-top 1px solid $marrom
    .center
        clearfix()
        padding 15px 0
    .col
        float left
        margin-right 24px
        +tablet()
            width 150px
            &:nth-child(4)
                clear left
            &:nth-child(1)
            &:nth-child(2)
            &:nth-child(3)
                margin-bottom 24px
        +mobile()
            display none
            &.col-fixa
                display block
                clear left
                &:last-child
                    margin-top 24px
        &:last-child
            margin-right 0
        a
            display block
            exo 13
            color $marrom
            line-height 1.5
            &:hover
                color #000
            &.titulo
                text-transform uppercase
                display block
                border-bottom 1px solid $marrom
                margin-top 24px
                margin-bottom 3px
                &:first-child
                    margin-top 0
        p
            exo 13
            color $marrom
            line-height 1.5
            margin 0
            &.endereco
                exo 12
                line-height 1.4
                margin 2px 0 6px
        .social
            display block
            font-size 0
            a
                display inline-block
                width 12px
                height 12px
                text-indent -9999px
                background-position center top
                background-repeat no-repeat
                transition background .3s
                margin-right 3px
                &:hover
                    background-position center bottom
                &.facebook
                    background-image $img('ico-facebook.png')
                &.instagram
                    background-image $img('ico-instagram.png')
        .area-cliente
            text-transform uppercase
            border 1px solid $marrom
            text-align center
            padding 8px
            display block
            transition color .3s, background .3s
            margin-bottom 8px
            &:hover
                background $marrom
                color #fff
    .copyright
        border-top 1px solid $marrom
        .center
            padding 0
        p
            margin 0
            lato 10
            color $marrom
            padding 8px 0
            a:hover
                text-decoration underline
            span
                margin 0 5px
                +mobile()
                    display block
                    font-size 0
