.site-wrapper
    clearfix()
    padding 50px 0
    position relative
    +below($tablet)
        padding 0
        width 100%

.main
    width 885px
    float right
    +below($tablet)
        width 90%
        margin 0 auto
        float none
        padding 5% 0
    .not-found
        overflow hidden
        h1
            display inline-block
            exo 14 bold
            text-transform uppercase
            border 1px solid $marrom
            padding 14px 20px
            color $marrom
            margin-left 50%
            transform translateX(-50%)
            +tablet()
                margin-top 120px
                margin-bottom 120px
            +mobile()
                font-size 13px
                padding 12px 16px
                margin-top 65px
                margin-bottom 65px
                white-space nowrap

header
    width 325px
    float left
    text-align right
    padding-bottom 50px
    +below($tablet)
        display none
    &.stick
        position fixed
        top 50px
    a
        &.logo
            display inline-block
            margin-bottom 50px
        display block
        exo 13 light
        text-transform uppercase
        color $marrom
        line-height 2
        &.active
            font-weight 500
        &:hover
        &.active
            color #000
        &.area-cliente
            display inline-block
            border 1px solid $marrom
            padding 8px
            transition color .3s, background .3s
            margin 25px 0 12px
            &:hover
                background $marrom
                color #fff
    .links-internos
        a
            text-transform none
            line-height 1.6
        margin-bottom 10px
    .social
        font-size 0
        overflow hidden
        a
            display inline-block
            width 12px
            height 12px
            text-indent 9999px
            background-position center top
            background-repeat no-repeat
            transition background .3s
            margin-left 3px
            &:hover
                background-position center bottom
            &.facebook
                background-image $img('ico-facebook.png')
            &.instagram
                background-image $img('ico-instagram.png')
            &.linkedin
                background-image $img('ico-linkedin.png')
            &.pinterest
                background-image $img('ico-pinterest.png')
            &.youtube
                background-image $img('ico-youtube.png')
    .lang
        font-size 0
        overflow hidden
        margin-top 10px
        a
            display inline-block
            width 16px
            height 16px
            text-indent 9999px
            background-position center
            background-repeat no-repeat
            margin-left 3px
            &.lang-pt
                background-image $img('pt.png')
            &.lang-en
                background-image $img('en.png')
            &.lang-es
                background-image $img('es.png')

.header-mobile
    +above($tablet)
        display none
    height 120px
    border-bottom 1px solid rgba($marrom, .5)
    .center
        height 100%
    .logo
        display block
        float left
        width 160px
        height 100%
        background $img('marca-ecofireplaces.png') no-repeat center
        background-size 100% auto
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        top 0
        right 0
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 30px
        .lines
            display block
            width 100%
            height 4px
            background $marrom
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $marrom
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    .lang
        font-size 0
        position absolute
        top 15px
        right 0
        width 35px
        a
            display inline-block
            width 16px
            height 16px
            text-indent 9999px
            background-position center top
            background-repeat no-repeat
            transition background .3s
            + a
                margin-left 3px
            &.lang-pt
                background-image $img('pt.png')
            &.lang-en
                background-image $img('en.png')
            &.lang-es
                background-image $img('es.png')
    .social
        font-size 0
        position absolute
        top 50%
        margin-top -6px
        right 40px
        a
            display inline-block
            width 12px
            height 12px
            text-indent 9999px
            background-position center top
            background-repeat no-repeat
            transition background .3s
            margin-right 3px
            &:hover
                background-position center bottom
            &.facebook
                background-image $img('ico-facebook.png')
            &.instagram
                background-image $img('ico-instagram.png')
            &.linkedin
                background-image $img('ico-linkedin.png')
            &.pinterest
                background-image $img('ico-pinterest.png')
            &.youtube
                background-image $img('ico-youtube.png')
    #nav-mobile
        display none
        z-index 9999
        +above($tablet)
            display none !important
        position absolute
        top 121px
        left 0
        width 100%
        background rgba($marrom, .9)
        padding 20px 5%
        text-align center
        a
            display block
            exo 15 light
            text-transform uppercase
            color #fff
            line-height 1.6
            &.active
                font-weight 700
            &.area-cliente
                margin-top 14px
                display inline-block
                border 1px solid rgba(#fff, .7)
                padding 10px
                exo 14 light
        .links-internos
            display none
            &.open
                display block !important
            a
                text-transform none
                exo 14 light
                line-height 1.4
                &.active
                    font-weight 700
            margin-bottom 10px
